html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.head{
  height:30px;
  color:rgb(238, 238, 238);
}
.headcss{
height:80px;
background-color: rgb(0,0,0);
text-align: center;
align-items: center;

}
.footcss{
height:200px;
width:100%;
position: fixed;
left: 0;
bottom: 0;
background-color: rgb(0,0,0);
text-align: center;
align-items: center;


}
.box{
  height:150px;
  width:100%;
  border:1px solid black;
  border-radius:5px;
  background-color:white;
  
  }
.check{
  position:relative;
  margin-left:80%;
  transform:translate(0,20px)
  
}
.checkr{
  position:relative;
  margin-left:10%;
  transform:translate(0,20px)

}
.container{
  height:200px;
  width:200px;
  background-color:black;
  align-items: center;
}
.logo{
  width: 100px;
  height: 100px;
  border: 35px solid orange;
  border-bottom: transparent;
  border-right: transparent;
  border-radius:20px 5px;
  transform: rotate(-70deg)  skewY(40deg);

  

 

}


.logo:after {
  content:'';
  display:block;
  width: 100px;
  height: 100px;
  margin-left: -70%;
  margin-top: 50%;
  border: 35px solid cornflowerblue;
  border-top: transparent;
  border-left: transparent;
  border-radius:20px 5px;

  
}	
.logohead{
  width: 50px;
  height: 50px;
  position:relative;
  margin-left:10%;
  border: 15px solid orange;
  border-bottom: transparent;
  border-right: transparent;
  border-radius:20px 5px;
  transform: rotate(-70deg)  skewY(40deg);

  

 

}


.logohead:after {
  content:'';
  display:block;
  width: 50px;
  height: 50px;
  position:relative;
  margin-left: -70%;
  margin-top: 50%;
  border: 15px solid cornflowerblue;
  border-top: transparent;
  border-left: transparent;
  border-radius:20px 5px;

  
}	
* {
  box-sizing: border-box;
}
